/*LESS*/
/*MAIN STYLES*/
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  background: 0 #ffffff;
  background-size: 100% auto;
}
p {
  font-size: 15px;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 4px;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.center {
  width: 100%;
  text-align: center;
}
.no-float {
  margin: 0 auto;
  float: none;
}
.no-padding {
  padding: 0 !important;
}
.extra-padding {
  padding: 85px 0 !important;
}
.no-border {
  border: none !important;
}
.shadow {
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.box-shadow {
  -moz-box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 365px;
  overflow: hidden;
}
.white-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 60px;
  background: url(../imag/back/white-shadow.png) repeat bottom center;
}
.relative {
  position: relative;
}
.upper {
  text-transform: uppercase;
}
/*TRANSITIONS*/
a {
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}
/*WRAPPER*/
.wrapper {
  width: 100%;
  position: relative;
}
.container {
  max-width: 1080px !important;
  width: 1080px !important;
}
#main {
  width: 100%;
  display: block;
}
/*HEADER*/
.home #header {
  max-height: 720px;
  height: 720px;
}
.page.bar #header,
.page.rest #header {
  max-height: 710px;
  height: 710px;
}
#header {
  position: relative;
  max-height: 515px;
  height: 515px;
  z-index: 50;
  text-align: center;
}
#header .cont-header {
  display: block;
  position: relative;
  z-index: 10;
}
#header .main-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}
#header .auxi-data {
  padding: 10px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 1px;
}
#header .auxi-data address {
  margin: 0;
  padding: 0;
}
#header .main-nav {
  text-align: center;
}
#header .main-nav ul {
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  background: url(../imag/back/bg_button.png) repeat left top;
}
#header .main-nav ul li {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
}
#header .main-nav ul li a {
  display: block;
  padding: 24px 12px;
  color: #ffffff;
}
#header .main-nav ul li a:hover {
  text-decoration: underline;
}
#header .main-nav ul li:first-child a {
  padding-left: 12px;
}
#header .main-nav ul li:last-child a {
  padding-right: 12px;
}
#header .main-nav ul li.inicio a {
  width: 222px;
  height: 70px;
  text-indent: -999em;
  background: url(../imag/logo/logo.png) no-repeat center 10px;
}
#header .main-nav ul li.inicio a:hover {
  opacity: .6;
}
#header .main-nav ul li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  margin: 0;
  padding: 0;
  border: none;
}
#header .main-nav ul li:hover > ul {
  display: block;
  width: 180px;
  z-index: 1000;
  background: url(../imag/back/bg_button.png) repeat left top;
  border: none;
}
#header .main-nav ul li ul li {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;
  float: left;
}
#header .main-nav ul li ul li a {
  width: 100%;
  padding: 6px 10px !important;
  background-image: none !important;
}
#header .main-nav ul li ul li a:hover {
  text-decoration: underline;
}
#header .intro-site {
  margin-top: 150px;
}
#header .intro-site h2 {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: 32px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: 4px;
}
#header .intro-site h2 strong {
  font-weight: 400;
}
#header .intro-site h3 {
  padding: 10px 0;
  color: #ffffff;
  font-size: 20px;
}
#header #video-background {
  width: 100%;
  z-index: -100;
  left: 0;
}
.page #header .intro-site h2 {
  text-transform: uppercase;
  font-size: 28px;
}
/*COMMON*/
.cont-button {
  display: block;
  margin: 60px 0 0;
}
/*HOME*/
.back-images {
  position: absolute;
  top: 0;
  left: 0;
}
#intro {
  padding: 0 0 90px;
  background: url(../imag/back/bg_fondo.png) no-repeat center -335px;
  text-align: center;
  z-index: 100;
}
#intro h3 {
  display: inline-block;
  width: auto;
  padding: 10px 0;
  color: #8b572a;
  border-bottom: 1px solid #8b572a;
}
#intro p {
  margin: 50px 0;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
}
#intro .col h4 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  margin: 15px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
#intro .col h4 a {
  color: #ffffff;
}
#intro .col p {
  margin: 20px 15px;
  font-size: 14px;
  letter-spacing: 0;
  color: #444444;
  line-height: 160%;
}
#intro .col img {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#intro .col .white-shadow {
  display: block;
  width: 100%;
  z-index: 50;
}
#intro .cont-col {
  width: 100%;
  padding: 0 !important;
}
.intro-spa p {
  margin: 70px 0 50px !important;
}
.page #intro h3 {
  margin: 0 0 80px;
}
.page #intro .box-shadow {
  height: 320px !important;
}
.page #intro p {
  margin: 30px 15px;
}
.page.common-page p {
  margin: 0;
}
.page.common-page #intro {
  padding: 50px 0;
}
.page.common-page #intro .container {
  padding: 0;
}
.page.common-page #intro .container p {
  margin: 0;
}
#reserva {
  padding: 30px 0;
  text-align: center;
  background: #ebebeb;
}
#reserva p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
#noche {
  height: 869px;
  text-align: center;
  z-index: 80;
}
#noche .container {
  padding: 70px 0;
}
#noche h3 {
  display: inline-block;
  width: auto;
  padding: 10px 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#noche p {
  margin: 50px 0;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 16px;
  color: #ffffff;
  line-height: 180%;
}
#noche .box-shadow {
  border: 3px solid #ffffff;
  background: #ffffff;
  height: 320px !important;
}
#noche .col h4 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  margin: 15px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
#noche .col h4 a {
  color: #ffffff;
}
#noche .col p {
  margin: 20px 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: #444444;
  line-height: 150%;
}
#noche .col img {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#noche .col .white-shadow {
  display: block;
  width: 100%;
  z-index: 50;
}
#valle {
  height: 827px;
  text-align: center;
  z-index: 70;
}
#valle .container {
  padding: 70px 0;
}
#valle h3 {
  display: inline-block;
  width: auto;
  padding: 10px 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#valle p {
  margin: 50px 0;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  color: #ffffff;
  line-height: 180%;
}
#valle .box-shadow {
  background: #ffffff;
  height: 300px !important;
}
#valle .col h4 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  margin: 15px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
}
#valle .col h4 a {
  color: #ffffff;
}
#valle .col p {
  margin: 20px 15px;
  font-size: 14px;
  letter-spacing: 0;
  color: #444444;
  line-height: 150%;
}
#valle .col img {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#valle .col .white-shadow {
  display: block;
  width: 100%;
  z-index: 50;
}
#valle .cont-button {
  position: relative;
  margin: 0;
}
#valle .cont-button .button-home {
  margin: 0 auto;
}
/*PAGES*/
.back-grey {
  padding: 50px 0 100px;
  background: #ebebeb;
  text-align: center;
}
.back-grey h3 {
  display: inline-block;
  margin: 0 0 60px;
  width: auto;
  padding: 10px 0;
  color: #8b572a;
  border-bottom: 1px solid #8b572a;
}
.back-grey .servicios {
  margin: 0;
  padding: 0;
}
.back-grey .servicios img {
  margin: 0 auto 15px;
}
.back-grey .servicios li {
  display: inline-block;
  width: 20%;
  margin: 0 0 50px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
  float: left;
}
blockquote {
  position: relative;
}
.quote-init,
.quote-finish {
  position: absolute;
  width: 38px;
  height: 27px;
}
.quote-init {
  display: inline-block;
  left: -20px;
  background: url(../imag/auxi/quote-left.png) no-repeat left top;
}
.quote-finish {
  display: inline-block;
  right: -30px;
  background: url(../imag/auxi/quote-right.png) no-repeat left top;
  bottom: 6px;
}
/*BUTTONS*/
.button {
  width: 180px;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #8b572a;
}
.button:hover {
  background: #c3a791;
  color: #ffffff;
  border: 2px solid #c3a791;
}
.info {
  background: #ffffff;
  color: #8b572a;
  float: left;
}
.reserva {
  background: #8b572a;
  color: #ffffff;
  float: right;
}
.button-home {
  display: inline;
  margin: 40px 0 0 !important;
  padding: 7px 35px;
  font-size: 14px;
  border: 2px solid #ffffff !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  background: url(../imag/back/bg_button.png) repeat left top;
  color: #ffffff !important;
}
/*GALLERIES*/
#gallery {
  padding: 0 0 60px;
  text-align: center;
}
/*FOOTER*/
#footer {
  position: relative;
  color: #ffffff;
  text-align: center;
}
#footer .container {
  position: relative;
  height: 725px;
}
#footer .shadow-foot {
  position: absolute;
  left: 0;
  top: 0;
  height: 725px;
  width: 100%;
}
#footer .shadow-foot .back-foot {
  position: absolute;
  top: 0;
  left: 0;
}
#footer .deg {
  position: relative;
  height: 726px;
  background: url(../imag/footer/bg_foot.png) no-repeat center top;
  background-size: 100%;
  opacity: .7;
}
#footer .top-foot {
  margin: 150px 0 0;
}
#footer .top-foot blockquote {
  margin: 35px 0 20px;
  font-size: .9em;
  font-style: italic;
  border: none;
  line-height: 200%;
  letter-spacing: 1px;
}
#footer .top-foot .testimonio {
  text-align: right;
}
#footer .top-foot .testimonio p {
  font-size: 14px;
  font-weight: 300;
}
#footer .top-foot .testimonio p a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 400;
}
#footer .bottom-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 40;
}
#footer .bottom-foot ul {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 300;
}
#footer .bottom-foot li {
  margin: 0 0 15px;
  padding-left: 30px;
  text-align: left;
  list-style-type: none;
  letter-spacing: 3px;
}
#footer .bottom-foot li.address {
  background: url(../imag/footer/address-icon.png) no-repeat left 4px;
}
#footer .bottom-foot li.phone {
  background: url(../imag/footer/phone-icon.png) no-repeat left 4px;
}
#footer .bottom-foot li.facebook {
  background: url(../imag/footer/face-icon.png) no-repeat left 4px;
}
/*END*/
